*{
    font-family: "Metal Mania";
}

body {
    background-image: url(top-trumps-imgs/horror.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.selector {
    display: none;
    border: none;
    border-radius: 0.5rem;
    background-color: darkred;
    width: 15vw;
    height: 5vh;
    padding: 0.2rem;
    margin-left: 0.8rem;
    font-size: 2rem;
    font-weight: bold;
}

.selector:hover {
    background-color: rgb(88, 6, 6);
    cursor: pointer;
}

#head {
    color: antiquewhite;
    font-size: 3rem;
}

.centred {
    display: flex;
    margin-top: 30vh;
    justify-content: center;
}

#start {
    width: 12vw;
    height: 7vw;
    font-size: 3rem;
    font-weight: bold;
    background-color: darkred;
    border: 0.5rem solid rgb(3, 3, 43);
    cursor: pointer;
    border-radius: 0.5rem;
}

#display-area {
    position: absolute;
    top: 10rem;
    left: 2rem;
}

#button-holder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#cardDisplay {
    margin-bottom: 3rem;
}

#end-msg {
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    color: rgb(212, 20, 29);
    margin-left: 20vw;
    margin-right: 20vw;
}